@import "../../components/colors";

.about {
    max-width: 60vw;
    margin: 5rem auto 0;
    min-height: 50vh;

    h2, h3 {
        color: $backgroundColor;
        background-color: $textColor;
        display: inline-block;
        padding: 0.1rem 0.3rem;
        border-radius: 0.2rem;
    }
}
