@import "../../components/colors";

.project-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60%;
    background-color: $lightBackgroundColor;
    border-radius: 0.5rem;
    padding: 2rem 5rem;

    .title {
        text-align: center;
    }

    .description {
        text-align: center;
    }

    @media screen and (max-width: 800px) {
        padding: 2rem;
        max-width: 80%;
        h1 {
            font-size: 1.8rem;
        }
    }
}