@import "../colors";

.header {
    display: flex;
    justify-content: space-between;
    height: 10vw;
    align-items: center;
    vertical-align: middle;
    gap: 2rem;
    padding: 0 5rem;

    .title-container {
        font-family: 'Lobster Two';
        font-size: 2rem;
        background-color: $darkBackgroundColor;
        border: 1px solid $lightBackgroundColor;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 2rem inset $lightBackgroundColor;
    }

    span {
        cursor: pointer;
    }

    .options {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        .option {
            color: $textColor;
            text-decoration: none;
            padding: 5px;
            border-radius: 5px;
        }

        .option:hover {
            @include invertedTextStyle;
        }
    
    }
}

@media screen and (max-width: 800px) {
    .header {
        padding: 1rem;
    }
}

@media screen and (max-width: 525px) {
    .header {
        height: 25vh;
        flex-direction: column;

        .options {
            gap: 1rem;
            @media screen and (max-width: 325px) {
                flex-direction: column;
            }
        }
    }
}




