@import "../colors";

.header {
    display: flex;
    justify-content: space-between;
    height: 10vw;
    align-items: center;
    vertical-align: middle;
    gap: 2rem;
    padding: 0 5rem;

    .title-container {
        font-size: 2rem;
        border: 1px solid;
        padding: 0.5rem;
        box-shadow: 0 0 6px;
    }

    span {
        cursor: pointer;
    }

    .options {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        .option {
            color: $textColor;
            text-decoration: none;
            padding: 5px;
            border-radius: 5px;
        }

        .option:hover {
            @include invertedTextStyle;
        }
    
    }
}

@media screen and (max-width: 800px) {
    .header {
        padding: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .header {
        height: 30vw;
        flex-direction: column;
    }
}




