@import '../../components/colors';

@mixin title {
    position: absolute;
    top: -2rem;
    border-radius: 5px;
    padding: 5px;
    @include invertedTextStyle;
}

.projects-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    justify-content: flex-start;
    gap: 2rem;
    min-height: 65vh;

    .filter-container {
        border: 1px solid;
        position: relative;
        padding: 2rem 1rem;

        .title {
            @include title;
        }

        .filter-type-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1rem;

            .filter {
                cursor: pointer;
                padding: 5px;
                border-radius: 5px;
            
                &.selected {
                    @include invertedTextStyle;
                }

                &:hover {
                    @include invertedTextStyle;
                }
            }
        }
    }

    .project-preview-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-gap: 1rem;
        border: 1px solid;
        position: relative;
        padding: 2rem 1rem;
        max-width: 100%;

        .title {
            @include title;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 800px) {
    .projects-container {
        padding: 1rem;
        .project-preview-container {
            padding: 2rem 0.5rem;
        }
    }
}