body {
  background: linear-gradient(to right, #051622, #051622) ; /*#000C66;*/
  color: #DEB992;
}

a {
  color: #1BA098;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh;
}